.main {
  width: 100%;
  height: 100%;
  background: $pink url(../images/bg-intro-desktop.png) no-repeat;
  background-size: cover;
  padding: 7% 10%;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__about {
    color: $white;
    flex: 1 0 50%;
    display: flex;
    align-items: center;
    &-header {
      font-size: $font-lg;
      margin-top: 0px;
    }
    &-description {
      font-size: $font-md;
      padding-right: 50px;
    }
  }

  &__form {
    flex: 1 0 50%;
    .try-button {
      background-color: $purple;
      font-size: $font-md;
      color: $white;
      text-align: center;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0px 8px $grayOpacity;
      margin-bottom: 30px;
      span {
        font-weight: 600;
      }
    }
    .signup {
      background-color: $white;
      padding: 55px;
      border-radius: 5px;
      box-shadow: 0px 8px $grayOpacity;
      .field-wrap {
        margin-bottom: 30px;
        input {
          width: 100%;
          padding: 20px 30px;
          border: 1px solid $lightGray;
          border-radius: 5px;
          font-family: $font-family-main;
          font-size: $font-sm;
          font-weight: 500;
        }
      }
      .submit-button {
        font-family: $font-family-main;
        background-color: $green;
        font-size: $font-sm;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        width: 100%;
        padding: 25px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 5px $lightGrayOpacity;
        margin-bottom: 23px;
        cursor: pointer;
      }
      .terms {
        display: block;
        text-align: center;
        font-size: $font-xs;
        color: $lightGray;
        font-weight: 500;
        a {
          color: $pink;
        }
      }
    }
  }

  @media only screen and (max-width: 767px) {
    &__about {
      flex: 1 0 100%;
    }
    &__form {
      flex: 1 0 100%;
    }
  }
}