.body-bg {
  background: $pink url(../images/bg-intro-desktop.png) no-repeat;
  background-size: cover;
  @media only screen and (max-width: 767px) {
    background: $pink url(../images/bg-intro-mobile.png) no-repeat;
    background-size: cover;
  }
}
.main {
  &__container {
    display: flex;
    flex-wrap: wrap;
    padding: 5% 10%;
  }

  &__about {
    color: $white;
    flex: 1 0 50%;
    display: flex;
    align-items: center;
    &-wrapper {
      padding-right: 15%;
    }
    &-header {
      font-size: $font-xlg;
      margin-top: 0px;
    }
    &-description {
      padding-right: 50px;
    }
  }

  &__form {
    flex: 1 0 50%;
    .try-button {
      background-color: $purple;
      font-size: $font-sm;
      color: $white;
      text-align: center;
      padding: 25px;
      border-radius: 5px;
      box-shadow: 0px 8px $grayOpacity;
      margin-bottom: 30px;
      span {
        font-weight: 600;
      }
    }
    #signup {
      background-color: $white;
      padding: 40px;
      border-radius: 5px;
      box-shadow: 0px 8px $grayOpacity;
      .field-wrap {
        position: relative;
        margin-bottom: 20px;
        input {
          width: 100%;
          padding: 25px 30px;
          border: 1px solid $lightGray;
          border-radius: 5px;
          font-family: $font-family-main;
          font-size: $font-default;
          font-weight: 500;
          &.error {
            border: 1px solid $pink;
            &::placeholder {
              color: $pink;
            }
          }
        }
        span {
          &.error {
            &.active {
              display: block;
              color: $pink;
              font-size: 12px;
              font-style: italic;
              text-align: right;
              margin: 5px 0 20px;
              &:before {
                content: "!";
                display: block;
                position: absolute;
                color: white;
                font-size: 17px;
                font-style: normal;
                background-color: $pink;
                text-align: center;
                width: 23px;
                height: 23px;
                border-radius: 50%;
                right: 20px;
                top: 28px;
              }
            }
          }
        }
      }
      .submit-button {
        font-family: $font-family-main;
        background-color: $green;
        font-size: $font-sm;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        width: 100%;
        padding: 25px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 5px $lightGrayOpacity;
        margin-bottom: 23px;
        cursor: pointer;
      }
      .terms {
        display: block;
        text-align: center;
        font-size: $font-xs;
        color: $lightGray;
        font-weight: 500;
        a {
          color: $pink;
        }
      }
    }
  }

  @media only screen and (max-width: 1440px) {
    &__about {
      &-wrapper {
        padding-right: 5%;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    &__container {
      padding: 100px 30px;
      text-align: center;
    }
    &__about {
      flex: 1 0 100%;
      &-wrapper {
        padding-right: 0px;
      }
      &-header {
        font-size: $font-lg;
      }
      &-description {
        padding-right: 0px;
      }
    }
    &__form {
      flex: 1 0 100%;
      margin-top: 50px;
      .try-button {
        padding: 25px 60px;
        font-size: $font-default;
      }
      #signup {
        padding: 25px;
        .field-wrap {
          input {
            padding: 20px 25px;
          }
          span {
            &.error {
              &.active {
                &:before {
                  top: 22px;
                }
              }
            }
          }
        }
        .submit-button {
          padding: 20px;
          font-size: $font-default;
        }

        .terms {
          padding: 0 15px;
        }
      }
    }
  }
}
