//Colours
$pink: rgb(255, 122, 122);
$green: rgb(56, 204, 140);
$purple: rgb(96, 85, 165);
$gray: rgb(62, 60, 73);
$grayOpacity: rgba(62, 60, 73, 0.4);
$lightGray: rgb(185, 182, 211);
$lightGrayOpacity: rgba(185, 182, 211, 0.4);
$blue: rgb(62, 82, 163);
$white: #ffffff;

//Font Family & Sizes
$font-family-main: 'Poppins', sans-serif;
$font-default: 1rem; // 16px
$font-xs: 0.75rem; // 12px
$font-sm: 1.125rem; // 18px
$font-md: 1.375rem; // 22px
$font-lg: 4.375rem; // 70px